@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-6">
        <h2>¡Bienvenido!</h2>
        <p>
            Este es el nuevo sistema administrativo para Laboratorios Médicos 
            de Honduras. Se ha desarrollado en distintos lenguajes de
            programación, siendo su funcionalidad Core desarollada en C#.
        </p>
        <hr />
        <h2>Tenga cuidado...</h2>
        <p>
            Actualmente, el sitio se encuentra en pleno proceso de 
            construcción, por lo que cierta funcionalidad podría no estar
            implementada, o podría presentar fallos. Dado que esta es una
            versión de desarrollo, esto está contemplado, y pedimos paciencia
            en cualquiera de los casos... Por cierto, ¿Cómo rayos llegó usted
            aquí?
        </p>
    </div>
    <img src="~/Content/Images/Motorola68040die.jpg" class="col-md-6 img-responsive" />
</div>